.btn-large {
    font-family:"fredoka one";
    border-radius: 4px;
}

.card {
    border-radius: 4px;
}

.card-panel {
    margin:1rem;
    border-radius: 4px;
}

.card .card-content {
    border-radius: 4px;
    padding: 0 24px 2px;
}

.card .card-image img {
    border-radius: 4px;  
}

.card .card-content {
    border-radius: 4px;  
}

.directions {
    margin-top: 0;
}
.collection {
    border-radius: 4px;  
}

body {
    font-family:"Montserrat";
}

header {
    color:white;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"fredoka one";
}

h1 {
    margin:1rem;
}

h5 {
    text-decoration: underline;
}

p {
    margin:2rem;
}

ol {
    margin-top: 0;
}